@font-face {
    font-family: Montserrat;
    src: url(./font/Montserrat.ttf);
}
body{
    font-family: Montserrat;
    background-color: rgb(244, 244, 245); 
}
.header{
    background-color: rgb(59,130, 246);
}

#txtUsuario{
    float:right;
    margin: 2rem;
}
.logo{
    
    height: 4rem;
    margin: 1rem;   
}
.container{
    background-color: white;

}
.imgPerfil{
    width: 100%;
    margin:1rem;
}
.imgPublicacion{
    width: 50%;
    margin:2rem;
}
.gris{
    color: grey;
}
.btn{
    float: right;
    
    margin: 1.5rem;
    position: relative;
    bottom: -13rem;
}
.btn.rojo{
    background-color: red;
}
